rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección "users"
    match /users/{userId} {
      // Un usuario puede leer su propio documento.
      // Un administrador (verificado en la DB) también puede leer cualquier documento de usuario.
      allow read: if request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';

      // Solo un admin (verificado en la DB) puede escribir en cualquier documento de usuario.
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Regla para LISTAR la colección "users"
    match /users {
      // Permite listar si el documento del solicitante en la DB tiene el rol de "admin".
      allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}